<!DOCTYPE html>
<html lang="en">
​
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>HTML ETL Dashboard</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
​
	
</head>
​
<body>
	<div class="container-fluid">
		<div class="jumbotron text-center">
			<h1>HTML ETL Dashboard</h1>
			<p><a class="btn btn-primary btn-lg" href="/schedule" role="button">Start ETL Process</a></p>
			<p><a class="btn btn-primary btn-lg" href="/stop" role="button">Stop ETL Process</a></p>
		</div>

		<div class="jumbotron text-center">
			<h3>Current ETL File Progress</h3>
			<p><span style="font-weight:bold">{{ mars_dict.news_title }}</span></p>
			<p>{{ mars_dict.news_p }}</p>
		</div>
​
​
		
​
		
			
				
​
		
			</div>
		</div> 
​
​
​
​
​
	</div>

	
​
​
	<br>
	<br>
​
</body>
​
</html>




